/*!CK:512990430!*//*1427086819,*/

.sp_7AqxtQn_Xj7{background-image:url(/rsrc.php/v2/yV/r/NxXXy_xRE_d.png);background-size:74px 186px;background-repeat:no-repeat;display:inline-block;height:72px;width:72px}.sp_7AqxtQn_Xj7.sx_76f1b7{background-position:0 0}.sp_7AqxtQn_Xj7.sx_2baa57{background-position:0 -74px}.sp_7AqxtQn_Xj7.sx_6b8ac1{width:36px;height:36px;background-position:0 -148px}.sp_7AqxtQn_Xj7.sx_18092a{width:16px;height:16px;background-position:-38px -148px}.sp_7AqxtQn_Xj7.sx_e1729d{width:12px;height:12px;background-position:-56px -148px}

#bootloader_U4z7_ { height: 42px; }
.bootloader_U4z7_ { display:block !important; }