/*!CK:3481167767!*//*1428300811,*/

.sp_dv4lhfRRdxq{background-image:url(/rsrc.php/v2/yw/r/c2r8TMNlra9.png);background-size:66px 70px;background-repeat:no-repeat;display:inline-block;height:20px;width:18px}.sp_dv4lhfRRdxq.sx_a8a68b{background-position:0 -48px}.sp_dv4lhfRRdxq.sx_d0cbbf{background-position:-20px -48px}.sp_dv4lhfRRdxq.sx_19f9d4{width:12px;height:12px;background-position:-40px -48px}.sp_dv4lhfRRdxq.sx_38f38c{width:62px;height:24px;background-position:0 -22px}.sp_dv4lhfRRdxq.sx_5abe3f{width:64px;background-position:0 0}

#bootloader_siqOs { height: 42px; }
.bootloader_siqOs { display:block !important; }