/*!CK:447848253!*//*1428415907,*/

._rzn{border:1px solid #dcdee3;-webkit-border-radius:3px}._39s2{border-bottom:1px solid #dcdee3;margin:8px 10px 0}._29dp{position:relative;top:2px}._z71 img{margin:0}._5j14{padding:12px}
._520o{margin-left:4px}

#bootloader_8c0dt { height: 42px; }
.bootloader_8c0dt { display:block !important; }