/*!CK:3734041985!*//*1427689195,*/

.sp_seojL-TvbNd{background-image:url(/rsrc.php/v2/yH/r/DnYxWCx71mJ.png);background-size:74px 186px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_seojL-TvbNd.sx_445444{background-position:0 -160px}.sp_seojL-TvbNd.sx_651a7c{background-position:-26px -160px}.sp_seojL-TvbNd.sx_007a86{width:72px;height:72px;background-position:0 0}.sp_seojL-TvbNd.sx_3b8ec0{width:66px;height:66px;background-position:0 -74px}.sp_seojL-TvbNd.sx_16e80a{width:32px;height:16px;background-position:0 -142px}

#bootloader_yHfon { height: 42px; }
.bootloader_yHfon { display:block !important; }